body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-wrapper {
  width:100%;
  color: #6c757d; 

  .sidebar{
    color: #fff;
    background-color: #424242;
    padding: 0px;
    height: 100vh;
    text-align: center;

    .sidebar-header {
      padding: 20px 30px;
      .sidebar-logo{
        width: 100%;
        text-align: center;
        padding: 5px;
        img {
          max-height: 55px;
        }
      }
      span{
        display: inline-block;
      }
      a {
        text-decoration: none;
        color: #9466ff;
      }
    
      a:hover{
          text-decoration: none;
          color: #9466ff;
          filter: brightness(90%);
        }
    }
    .sidebar-body{
      .menu {
        text-align: center;
        padding: 0px;
      }

      a {
        text-decoration: none;
        color: white;
      }
    
      a:hover{
          text-decoration: none;
          font-weight: bold;
          color: #9466ff;
          filter: brightness(90%);
        }
    }
    .menu{
      li {
        list-style-type:none;
      }
    }
  }
  .page-wrapper {
    padding: 50px 100px 50px 50px;

    .question {
      strong {
        color: #9466ff;
      }
    }

    .card {
      background-color: #424242;
      color: white;
      &.error{
        background-color: #fd6363;
      }
    }

    .country-search {
      border-radius: 10px;
      padding: 3px 10px;
      background-color: #6c757d;
      color: white;

      i {
        right: 10px;
        position: absolute;
        padding: 3px;
        cursor: pointer;
      }
    }

    .form-result{
      padding: 10px;
      color: white;
      font-weight: bold;
      border-radius: 6px;
      text-align: center;
      &.error{
        background-color: #fd6363;
      }
      &.success{
        background-color: green;
        word-wrap: break-word 
      }
    }

    .spin-machine{
      padding: 30px;
      text-align: center;

      .item{
        border: 3px solid #9466ff;
        padding: 20px;
        text-align: center;
        width: 150px;
        height: 100px;
        border-radius: 50%;
        margin: 10px;
        background-color: #e9ecef;
        color: #9466ff;
        font-size: 2em;
        font-weight: bold;
      }

      .coins {
        font-size: 1.2em;
        font-weight: bold;
        background-color: white;
        color: #9466ff;
        border-radius: 20px;
        padding: 3px 10px;
        border: 2px solid;
      }

      .btn{ 
        font-weight: bold;
        background-color: #9466ff;
        color: white;
        border-radius: 40%;
        padding: 12px;
      }

      .error{
        background-color: #fd6363;
        color: white;
      }
    }
  }
}
